/* Main body */
html {
    height: 100%;
}

body {
    height: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#C3A7CF, #F9D4D4);
   /* overflow-y: hidden; */
}

 header {
    text-align: center;
    width: 100%;
    padding-top: 0.8em;
} 

h1 {
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    background-color: #ffffff;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    color: #623392;
    padding: 5px;
}

/* Go back button navigation */
#goBackButton {
    top: 0.3em;
    left: 0.3em;
    position: absolute;
    display: none;
}

#goBackButton:hover .iconColor {
    color: #F9D4D4;
    }

.iconColor {
    color: #000000;
}

/* Animal grid */
#chooseAnimal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

#chooseAnimal a {
    text-decoration: none;
}

.animalIcon {
    height: 13em;
    width: 13em;
    border-radius: 50%;
    background-color: #623392;
    margin: 2em;
    text-align: center;
    position: relative;
    box-shadow: 1px 5px 18px #000000;
}

.animalIcon img {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animalLabel {
    border: 2px solid black;
    color: #623392;
    background-color: #ffffff;
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 1.3em;
    padding: 2px;
}

.animalNumber {
    border: 2px solid black;
    color: #000000;
    background-color: #C3A7CF;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin: 72% auto;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 2em;

}

/* Question and Answer sections */

.correctColor {
    font-weight: 600;
    color: green;
}

.incorrectColor {
    font-weight: 600;
    color: red;
}

#animalIconQuestion .animalIcon {
    margin: 2em auto;
}

#animalIconQuestion {
    display: none;
}

.textBox {
    background: #ffffff;
    margin: 1em auto;
    padding: 1em;
    border: 3px solid #000000;
    border-radius: 20px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    vertical-align: center;
}

button {
    border: 5px solid #623392;
    background: #C3A7CF;
    color: #623392;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 2em;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    margin: 0 1em;
}

button:hover {
    background: #F9D4D4;
}

/* Toggle */

#questionSection {
    display: none;
}

#answerSection {
    display: none;
}

#answerBox {
    min-height: 150px;
}